#add-event-success-alert,
#update-event-success-alert,
#delete-event-success-alert {
  display: none;
  animation-name: fadeInAndOut;
  animation-duration: 4s;
}

@keyframes fadeInAndOut {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
  }