<h3>Login</h3>

<form>
    <div class="mb-3 w-25">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" [(ngModel)]="username" name="username">
    </div>
    <div class="mb-3 w-25">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" [(ngModel)]="password" name="password">
    </div>
    <button (click)="login()" class="btn btn-primary">
      Sign In
    </button>
</form>

<br>
<br>

<div class="alert alert-danger" role="alert" id="login-failed-alert">
  Account does not exist
</div>

<div class="alert alert-danger" role="alert" id="login-empty-alert">
  Username or Password can't be empty
</div>

<div class="alert alert-success" role="alert" id="login-success-alert">
  Login successfully
</div>