<h1 class="text-center">Class Table</h1>
<br>
<div class="col-md-12 text-center">
  <button class="btn btn-primary me-2 mb-1"
  (click)="modalEdit()" data-bs-toggle="modal" data-bs-target="#staticBackdrop-class"
  >
  Edit class
  </button>
</div>
<br>
<div class="shadow p-3 mb-5 bg-body rounded">
  <div class="row">
    <div class="col-6 col-md-4">
        <b>ID:</b> {{ classID }}
    </div>
    <div class="col-6 col-md-4">
        <b>Name:</b> {{ className }}
    </div>
    <div class="col-6 col-md-4">
        <b>Location:</b> {{ location }}
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <b>Class Start Time:</b> {{ classStartTime }}
    </div>
    <div class="col">
        <b>Class End Time:</b> {{ classEndTime }}
    </div>
</div>
<br>
<div class="row">
  <div class="col">
      <b>Class Start Date: </b> {{ classDateStart | date: 'dd-MM-yyyy'}}
  </div>
  <div class="col">
      <b>Class End Date: </b> {{ classDateEnd | date: 'dd-MM-yyyy'}}
  </div>
</div>
<br>
<div class="row">
  <div class="col">
      <b>Days Of Week:</b> {{ classDaysOfWeek }}
    </div>
</div>
</div>

<div class="alert alert-success" role="alert" id="update-class-success-alert">
  Class successfully updated!
</div>

<button type="button" class="btn btn-success m-2" (click)="generateSession()">Generate session</button>
<br>

<div class="shadow p-3 mb-5 bg-body rounded"> 
  <h4 class="text-left">Attendee In Event</h4>
  <hr>
  <table class="table table-striped">
      <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Cards</th>
        <th>Role</th>
        <th>Options</th>
      </thead>
      <tbody>
        <tr *ngFor="let att of attendeesInEvent|async">
          <td>{{att.id}}</td>
          <td>{{att.name}}</td>
          <td>{{att.email}}</td>
          <td>
            <p *ngIf="att.cardId.length == 0" style="color:red ;">
              None
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-lg" viewBox="0 0 16 16">
                <path d="M7.005 3.1a1 1 0 1 1 1.99 0l-.388 6.35a.61.61 0 0 1-1.214 0L7.005 3.1ZM7 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z"/>
              </svg>
            </p>
              {{att.cardId}}
          </td>
          <td>{{att.role}}</td>
          <td>
            <button class="btn btn-outline-danger me-2 mb-1"
            (click)="removeAttendee(att)"
            >
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-dash-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z"/>
                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg>
            </button>
          </td>
        </tr>
      </tbody>
  </table>
</div>

<button type="button" class="btn btn-primary m-2"
(click)="toogleAddAttendee()">
  Add Attendees To Class
</button>
<br>

<div class="shadow p-3 mb-5 bg-body rounded" *ngIf="activateAddAttendeeToEvent==true">
  <h4 class="text-left">
    Available Attendees
    <button type="button" class="btn btn-danger m-2 float-end"
    (click)="importExcelFile()">
      Import Excel File
    </button>
    <button type="button" class="btn btn-success m-2 float-end"
    (click)="addAllAttendeeToClass()">
      Add All
    </button>
  </h4>

  <table class="table table-hover">
    <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Cards</th>
      <th>Role</th>
      <th> 
        Options
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let att of availableAttendees|async">
        <td>{{att.id}}</td>
        <td>{{att.name}}</td>
        <td>{{att.email}}</td>
        <td>
            <p *ngIf="att.cardId.length == 0" style="color:red ;">
              None
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-lg" viewBox="0 0 16 16">
                <path d="M7.005 3.1a1 1 0 1 1 1.99 0l-.388 6.35a.61.61 0 0 1-1.214 0L7.005 3.1ZM7 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z"/>
              </svg>
            </p>
            {{att.cardId}}
        </td>
        <td>{{att.role}}</td>
        <td>
          <button class="btn btn-outline-success me-2 mb-1"
          (click)="addAttendeeToClass(att)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
          </svg>
        </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<br>

<div class="shadow p-3 mb-5 bg-body rounded">
  <h4 class="text-left">Sessions</h4>
  <div class="btn-group">
    <!-- <select class="form-control" #semester (change)="selectSemester(semester.value)">
      <option *ngFor="let semester of semesterIds" [value]="semester" >{{semester}}</option>
    </select> -->
    <p>
      <b> Semester Id: </b> {{semesterId}} 
    </p>
  </div>
  <hr>
  <div *ngIf="(attendanceSessions|async) as list">
    <p *ngIf="list.length<1">
      There is no session for this event
    </p>
    <div id="sessionGroup">
      <div *ngFor="let session of attendanceSessions|async; let i = index" data-parent="#sessionGroup">
    <p>
      <a class="btn btn-outline-success m-1 w-100" data-bs-toggle="collapse" 
      href="#collapse-{{i}}" role="button" aria-expanded="false" aria-controls="collapseExample" data-parent="#sessionGroup" 
      >
        {{session.date}}
      </a>
    </p>
    <div class="collapse" id="collapse-{{i}}" data-parent="#sessionGroup">
      <app-session-class [classID]="classID" [semesterId]="semesterId" [sessionDate]="session.date"></app-session-class>
      </div>
    </div>
   </div>

</div>
</div>

<!-- Add or edit inspection Modal -->
<div class="modal fade" id="staticBackdrop-class" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"> Edit class </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        (click)="modalClose()" id="add-edit-class-modal-close"
        ></button>
      </div>
      <div class="modal-body">
        <app-add-edit-class [class]="class" *ngIf="activateAddEditClassComponent"></app-add-edit-class>
      </div>
    </div>
  </div>
</div>