<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
      <div class="sidebar-header">
          <h3>
            <a href="/attendee">            
              Attendance Management System
            </a>
          </h3>
      </div>
      <ul class="list-unstyled components">
        <li>
            <a href="/login">Login</a>
        </li>
      </ul>
      <ul class="list-unstyled components">
          <li>
              <a href="/attendee">Attendee</a>
          </li>
          <li>
              <a href="/event">Event</a>
          </li>
          <li>
              <a href="/class">Class</a>
          </li>
      </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">
<!-- 
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid float-right">
            <button class="btn btn-primary float-right" type="button">Button</button>
          </div>
        </nav> -->
      <div class="shadow-sm p-3 mb-5 bg-body rounded">
        <router-outlet></router-outlet>
      </div>
  </div>
</div>