<h1 class="text-center">Event Table</h1>
<br>
<div class="shadow p-3 mb-5 bg-body rounded">
  <div class="row">
    <div class="col-6 col-md-4">
        <b>ID:</b> {{ eventID }}
    </div>
    <div class="col-6 col-md-4">
        <b>Name:</b> {{ eventName }}
    </div>
    <div class="col-6 col-md-4">
        <b>Location:</b> {{ location }}
    </div>
</div>
<br>
<div class="row">
    <div class="col-6 col-md-4">
        <b>Event Date:</b> {{ eventDate | date: 'dd-MM-yyyy' }}
    </div>
    <div class="col-6 col-md-4">
        <b>Event Start Time:</b> {{ eventStartTime }}
    </div>
    <div class="col-6 col-md-4">
        <b>Event End Time:</b> {{ eventEndTime }}
    </div>
</div>
</div>

<div class="row text-left">
  <div class="col-4 col-lg-1"><b> Status:</b></div>
  <div class="col-4">Testing status</div>
</div>
<br>

<div class="shadow p-3 mb-5 bg-body rounded"> 
  <h4 class="text-left">Attendee In Event</h4>
  <hr>
  <table class="table table-striped">
      <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Cards</th>
        <th>Role</th>
        <th>Options</th>
      </thead>
      <tbody>
        <tr *ngFor="let att of attendeesInEvent|async">
          <td>{{att.id}}</td>
          <td>{{att.name}}</td>
          <td>{{att.email}}</td>
          <td>
            <p *ngIf="att.cards == null" style="color:red ;">
              None
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-lg" viewBox="0 0 16 16">
                <path d="M7.005 3.1a1 1 0 1 1 1.99 0l-.388 6.35a.61.61 0 0 1-1.214 0L7.005 3.1ZM7 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z"/>
              </svg>
            </p>
              {{att.cards}}
          </td>
          <td>{{att.role}}</td>
          <td>
            <button class="btn btn-outline-danger me-2 mb-1"
            (click)="removeAttendee(att)"
            >
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-dash-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z"/>
                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg>
            </button>
          </td>
        </tr>
      </tbody>
  </table>
</div>

<div class="shadow p-3 mb-5 bg-body rounded">
  <h4 class="text-left">Sessions</h4>
  <hr>
  <div *ngIf="(attendanceSessions|async) as list">
    <p *ngIf="list.length<1">
      There is no session for this event
    </p>
  <div *ngFor="let session of attendanceSessions|async; let i = index">
    <p>
      <a class="btn btn-outline-success m-1 w-100" data-bs-toggle="collapse" 
      href="#collapse-{{i}}" role="button" aria-expanded="false" aria-controls="collapseExample"
      >
        {{session.date}}
      </a>
    </p>
    <div class="collapse" id="collapse-{{i}}">
      <div class="card card-body">
        <table class="table table-striped">
          <thead>
            <th>Id</th>
            <th>Name</th>
            <!-- <th>Cards</th> -->
            <th>Time</th>
          </thead>
          <tbody>
            <tr *ngFor="let att of attendeesInEvent|async">
              <td>{{att.id}}</td>
              <td>{{att.name}}</td>
              <!-- <td>
                <p *ngIf="att.cards == null" style="color:red ;">
                  None
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-lg" viewBox="0 0 16 16">
                    <path d="M7.005 3.1a1 1 0 1 1 1.99 0l-.388 6.35a.61.61 0 0 1-1.214 0L7.005 3.1ZM7 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z"/>
                  </svg>
                </p>
                  {{att.card}}
              </td> -->
              <td>{{att.time}}<td>
            </tr>
          </tbody>
      </table>
      </div>
    </div>
  </div>
  </div>
</div>

<button type="button" class="btn btn-primary m-2"
(click)="toogleAddAttendee()">
  Add Attendees To Event
</button>
<br>

<div class="shadow p-3 mb-5 bg-body rounded" *ngIf="activateAddAttendeeToEvent==true">
  <h4 class="text-left">
    Available Attendees
    <button type="button" class="btn btn-danger m-2 float-end"
    (click)="addAllAttendeeToEvent()">
      Import Excel File
    </button>
    <button type="button" class="btn btn-success m-2 float-end"
    (click)="importExcelFile()">
      Add All
    </button>
  </h4>

  <table class="table table-hover">
    <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Cards</th>
      <th>Role</th>
      <th> 
        Options
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let att of availableAttendees|async">
        <td>{{att.id}}</td>
        <td>{{att.name}}</td>
        <td>{{att.email}}</td>
        <td>
            <p *ngIf="att.cards == null" style="color:red ;">
              None
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-lg" viewBox="0 0 16 16">
                <path d="M7.005 3.1a1 1 0 1 1 1.99 0l-.388 6.35a.61.61 0 0 1-1.214 0L7.005 3.1ZM7 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z"/>
              </svg>
            </p>
            {{att.cards}}
        </td>
        <td>{{att.role}}</td>
        <td>
          <button class="btn btn-outline-success me-2 mb-1"
          (click)="addAttendeeToEvent(att)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
          </svg>
        </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
